<main>
  <h1>Formulários</h1>
  <form [formGroup]="formBuilder" (ngSubmit)="handleSubmit()">
    <div>
      <input type="text" formControlName="nome" placeholder="Nome" />
      @if(nome?.invalid && nome?.touched) {
        @if(nome?.errors?.['required']) {
          <span [style]="error">* {{ errors.nome.required }}</span>
        }
        @if(nome?.errors?.['minlength']) {
          <span [style]="error">* {{ errors.nome.minlength }}</span>
        }
      }
    </div>
    <div>
      <input type="text" formControlName="idade" placeholder="Idade" />
      @if(idade?.invalid && idade?.touched) {
        @if(idade?.errors?.['required']) {
          <span [style]="error">* {{ errors.idade.required }}</span>
        }
        @if(idade?.errors?.['min']) {
          <span [style]="error">* {{ errors.idade.min }}</span>
        }
        @if(idade?.errors?.['max']) {
          <span [style]="error">* {{ errors.idade.max }}</span>
        }
      }
    </div>
    <div>
      <input type="email" formControlName="email" placeholder="Email" />
      @if(email?.invalid && email?.touched) {
        @if(email?.errors?.['required']) {
          <span [style]="error">* {{ errors.email.required }}</span>
        }
        @if(email?.errors?.['email']) {
          <span [style]="error">* {{ errors.email.email }}</span>
        }
      }
    </div>
    <div>
      <input 
        type="text" 
        formControlName="cpf" 
        placeholder="CPF (000.000.000-00)"
        maxlength="14"
        (input)="onCpfInput($event)" />
      @if(cpf?.invalid && cpf?.touched) {
        @if(cpf?.errors?.['required']) {
          <span [style]="error">* {{ errors.cpf.required }}</span>
        }
        @if(cpf?.errors?.['cpfInvalid']) {
          <span [style]="error">* {{ errors.cpf.cpfInvalid }}</span>
        }
      }
    </div>
    <button type="submit" [disabled]="formBuilder.invalid">Enviar</button>
  </form>
  <hr />
  <h3>Form Status: {{ formBuilder.status }}</h3>
  <h3>Form Touch: {{ formBuilder.touched }}</h3>
  <div>
    <p>{{ formBuilder.get('nome')?.value }}</p>
    <p>{{ formBuilder.get('idade')?.value }}</p>
    <p>{{ formBuilder.get('email')?.value }}</p>
    <p>{{ formBuilder.get('cpf')?.value }}</p>
  </div>
</main>